body {
    background-color: turquoise;
}

table {
    border: black 1px solid;
}

td {
    background-color: aliceblue;
    border: black 1px solid;
}

th {
    background-color: darkgray;
    border: black 1px solid;
}

h2 {
    color: crimson;
}